body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

.hero {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 { font-size: 48px; margin: 0; }
.hero p { font-size: 24px; }

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.about-me {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.about-container { display: flex; gap: 20px; align-items: center; }
.about-photo {
  width: 250px;
  max-width: 180px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  display: block;
}



.experience-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.experience-card.image-left {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.experience-img {
    width: 120px;
    height: 120px;
    background-color: #ddd;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

.img1 { background-image: url('images/ssb.png'); }
.img2 { background-image: url('images/smcs.jpg'); }
.img3 { background-image: url('images/wpt.png'); }
.img4 { background-image: url('images/bgc.png'); }

.experience-text { flex: 1; }


.contact p {
    font-size: 18px;
}


@media (max-width: 768px) {
    .experience-card.image-left { flex-direction: column; text-align: center; }
    .experience-img { width: 150px; height: 150px; margin: auto; }
}